@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.body{
    font-size: 100%;
}

.cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    Word-spacing:32px;
}

.cabeçalho-menu{
    display: flex;
    gap: 32px;
}

.cabeçalho-menu-item{
    font-family: 'Fira Sans Condensed', sans-serif;
    color:white;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid orange;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 288px;
    background:rgba(0, 0, 0, 0.7) url(../fotos/f2-espanha.jpg);
    border-bottom: 2px solid orange;
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    font-family: 'Fira Sans Condensed', sans-serif;
    color:white
    
}

.conteudo-principal-titulo{
    display: flex;
    font-size: 64px;
    font-weight: 700;
}

.conteudo-principal-subtitulo{
    font-weight: 100;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.conteudo-secundario-titulo{
    display: flex;
    font-family: 'Fira Sans Condensed', sans-serif;
    padding-top: 48px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: 'Fira Sans Condensed', sans-serif;
    padding-bottom: 16px;
}


.conteudo-categorias{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Fira Sans Condensed', sans-serif;
    padding-top: 48px;
    background-color: rgb(234, 234, 234);
    text-align: center;
}

.conteudo-categorias-f2-titulo{
    padding-top: 48px;
    padding-bottom: 16px;

}

.conteudo-categorias-f3-titulo{
    padding-top: 48px;
    padding-bottom: 16px;
    border-top: 2px solid grey;
}

.conteudo-categorias-f4-titulo{
    padding-top: 48px;
    padding-bottom: 16px;
    border-top:2px solid grey ;
}

.conteudo-historia{
    display: flex;
    flex-direction: row;
    font-family: 'Fira Sans Condensed', sans-serif;
    padding-top: 64px;
}

.conteudo-historia-titulo{
    padding-top: 48px;
    padding-bottom: 16px;
    text-align: center;
}

.conteudo-historia-texto{
    padding: 32px;
    padding-left: 64px;
    padding-right: 64px;
}

.conteudo-historia-imagem{
    max-width: 100%;
    padding-top: 48px;
    padding-right: 48px;
}

.rodape{
    display: flex;
    border-top: 2px solid orange;
    background-color: black;
    justify-content: space-around;
    padding: 48px ;
    align-items: center;

}

.rodape-logo{
    height: 96px;
    display: block;
    margin: 0 auto;
}

.menu-mobile-icone{
    display: none;
}

.menu-mobile{
    display: none;
}

@media screen and (max-width: 1100px) {

.cabeçalho-menu-item{
    display: none;
}

.menu-mobile-icone{
    display: block;
}

.menu-mobile-icone button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-mobile ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    text-decoration: none;
    font-family: 'Fira Sans Condensed', sans-serif;
    color:white;
    
}

.menu-mobile .cabeçalho-menu-item-mobile{
    display: block;
    padding-top: 1.2rem;
    color:white;
}

.conteudo-historia{
    width: 100%;
}

.conteudo-historia-imagem{
    width: 100%;
    display: none;
}

.conteudo-secundario-paragrafo{
    width: 100%;
}

.open{
    display: block;
}


}